*{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
@mixin button{
  width: 30%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: #D3D3D3;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
}
@mixin box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: inherit;
}
.wrap{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  background: #F5F5F5;
  .search-by-state{
    @include box;
    &__select-box{
      text-align: center;
      width: 50%;
      margin: 30px 0;
      display: flex;
      justify-content: center;
    }
    &__label{
      margin-right: 5%;
    }
    &__button{
      @include button;
    }
    }
  .add-city{
    @include box;
    &__field{
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }
    &__button{
      @include button;
    }
  }
}
